table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  cursor: pointer;
}
th:hover {
  background-color: #f2f2f2;
}
.desc:after {
  content: " ▼";
}
.asc:after {
  content: " ▲";
}
.scroll-x {
  overflow-x: auto;
  white-space: nowrap;
}
